Hey This is welcome page
<br>
<%= image_tag("eatwitheyes_yellow.png", :style => "height: 320px" %> 
<br>
THIS IS  A Link to all of the pictures

<%= form_tag("welcome/all", method: "post") do %>
  <%= submit_tag("nyc", :id=> "nycImage" )%>
<% end %>



<br>
<br>
<br>

<h1>New Picture</h1>

<%= render 'form' %>




