Hey This is welcome page


THIS IS  A Link to all of the pictures

<%= form_tag("welcome/all", method: "post") do %>
  <%= submit_tag("all") %>
<% end %>


<br>
<br>
<br>

<h1>New Picture</h1>

<%= render 'form' %>


